# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Tests cache
# =========================
.pytest_cache/

# =========================
# Workspace (данные проекта)
# =========================
workspace/input_collected/
workspace/input_quarantine/
workspace/output/
workspace/reports/
workspace/manual_review/

# =========================
# Config / secrets
# =========================
workspace/config/token_txt
*.env
*.token

# =========================
# Files
# =========================
*.pdf
*.zip
*.heic
*.odt
*.doc
*.docx
*.txt
*.json

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.bak
~$*